/* html .kendo-grid tr:hover {
  background: transparent;
}

html .kendo-grid tr.k-alt:hover {

  background: #fbfbfb;
} */


/* .k-grid .k-grid-content{
  background: transparent;
} */
/* 
.k-grid .k-state-selected {
  background-color: #C4FAEC;   
  color: blue;
}

.k-grid .k-state-selected:hover { 
  background-color: #C4FAEC;  
  color: red;
}

.k-grid tr:hover,
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td
{  
  color: #000000;   
  background-color: #C4FAEC;
} */

/* html .k-grid tr.k-state-selected:hover {
  background: blue;
}

html .k-grid tr.k-state-selected.k-alt:hover {
  background: blue;
}



  /* .k-grid tr:hover .no-padding {
    padding: 0;
    background:transparent;
  }
  
   .whole-cell {
     display: block;
     padding: 8px 12px;
   }

    */

    /* .k-grid .k-grid-table tr:hover {
      background-color: red;
      color: white;
    } */
    .k-grid tbody tr:hover {
      background-color: purple;
    }

    .btn-static {
      background-color: #673ab7;
      border: 1px solid lightgrey;
      color: white;
      cursor: default;
    }
    .btn-static:active {
      -moz-box-shadow:    inset 0 0 0px rgb(255, 255, 255);
      -webkit-box-shadow: inset 0 0 0px white;
      box-shadow:         inset 0 0 0px white;
    }
    
