<div class="example-config">
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="allowUnsort" [(ngModel)]="allowUnsort" />
        <label class="k-checkbox-label" for="allowUnsort"> Toggle unsorting </label> </label
    ><br />
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="multiple" [(ngModel)]="multiple" />
        <label class="k-checkbox-label" for="multiple"> Toggle multiple columns sorting </label>
    </label>
</div>
<kendo-grid
[data]="gridView" 
[height]="450"
[pageSize]="pageSize"
[skip]="skip"
[selectable]="selectableSettings"
[style]="{'kendo-grid': '#888','color': 'purple'}"
kendoGridSelectBy="email"
[pageable]="true"
(pageChange)="pageChange($event)"
[sortable]="{
    allowUnsort: allowUnsort,
    mode: multiple ? 'multiple' : 'single'
}"
[sort]="sort"
(sortChange)="sortChange($event)"
(edit)="editHandler($event)"
(add)="addHandler($event)"
(remove)="removeHandler($event)"
          
>
<ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new user</button>
</ng-template>

<kendo-grid-column field="id" title="Id" class="no-padding" width="20"
[headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}"
    [style]="{'background-color': '#888','color': '#fff'}"
    [footerStyle]="{'background-color': '#888','color': '#fff'}"
    *ngIf="checked">
    <ng-template kendoGridCellTemplate let-gridView>
        <span [ngStyle]= "{color: getColor(gridView.id)}">
            {{gridView.id}}
        </span>
    </ng-template>
 </kendo-grid-column>

    <kendo-grid-column field="first_name" title="First name" width="50"
     [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}"
     [style]="{'background-color': '#888','color': '#fff'}"
     [footerStyle]="{'background-color': '#888','color': '#fff'}"
     >
    </kendo-grid-column>

    <kendo-grid-column field="last_name" title="Last name" width="50"
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}"
    [style]="{'background-color': '#888','color': '#fff'}"
    [footerStyle]="{'background-color': '#888','color': '#fff'}">
    </kendo-grid-column>

    <kendo-grid-column field="email" title="Email" width="90" 
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
    </kendo-grid-column>

    <kendo-grid-column field="country" title="Country" width="30"
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
    </kendo-grid-column>

    <kendo-grid-column field="ip_address" title="IP address" width="40"
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
    </kendo-grid-column>

    <kendo-grid-column field="currency" title="Currency" width="25"
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
    </kendo-grid-column>

    <kendo-grid-column field="amount" title="Amount" class="no-padding" width="60"
    [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
        <ng-template kendoGridCellTemplate let-gridView>
            <span [ngStyle]= "{color: getColorForAmount(gridView.amount)}">
                {{gridView.amount}}
            </span>
        </ng-template>
     </kendo-grid-column>

     <kendo-grid-command-column title="command" width="25" [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
        <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand style="background: green; color:white;">Edit</button>
            <button kendoGridRemoveCommand class="k-block" style="background: red; color:white;">Delete</button>
        </ng-template>
    </kendo-grid-command-column>

  </kendo-grid>

  <div class="btn btn-static">Remove id's</div>
  <kendo-switch [(ngModel)]="checked"></kendo-switch>

  <kendo-grid-edit-form [model]="editDataItem" [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()">
</kendo-grid-edit-form>