<div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Partners</li>
        <li>Press</li>
        <li>Careers</li>
        <li>Legal & Privacy</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>Kendo UI</li>
        <li>NativeChat</li>
        <li>Unite UX</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Technology</h1>
      <ul>
        <li>Cloud Native App Dev Platform</li>
        <li>OpenEdge</li>
        <li>UI/UX Tools</li>
        <li>Web Content Management</li>
        <li>Cognitive Services</li>
      </ul>
    </div>
    
    <div class="col social">
      <h1>Social</h1>
      <ul>
          <!-- This is just placeholder icons. Fontawsome can be added and use the icon pack from them and have router for the pages -->
        <li> <li><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384031.svg" width="32" style="width: 32px;"></li>
        <li> <li><img src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg" width="32" style="width: 32px;"></li>
        <li> <li><img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384005.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
</div>